numpy >= 1.22.4
scikit-image >= 0.19.2

# PyTorch used while writing: 
# torch == 1.11.0+cu113, torchaudio == 0.11.0+cu113, torchvision == 0.12.0+cu113
# pip install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu113