# PyTorch version used while writing code: 
# torch == 1.13.1+cu117, torchaudio == 0.13.1+cu117, torchvision == 0.14.1+cu117
# pip install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu113

numpy >= 1.24.1
scikit-image >= 0.19.2
fastai >= 2.7.7
opencv-python >= 4.6.0.66
customtkinter >= 5.0.3